* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(lightgreen, lightblue);
  min-height: 100vh;
  font-size: 16px;

  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 48px;
  font-weight: lighter;
}
